html, body {
  display: flex;
  justify-content: center;
}

#card {
  margin-top: 36px;
  padding: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 170px;
  border-radius: 20px;
  cursor: pointer;
  background: #c0392b;
  background: -webkit-linear-gradient(to right, #c0392b, #8e44ad);
  background: linear-gradient(to right, #c0392b, #8e44ad);
  color: white;
  font-family: "Lato", sans-serif;
  z-index: 1;
  box-shadow: 5px 5px 10px #888888;
}

h2 {
  margin-bottom: -20px;
  font-size: 20px;
  margin-top: 50px;
}

input {
  margin-top: 30px;
  height: 30px;
  width: 200px;
}

input:focus {
  outline: #f24;
}

#circle1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #070D0A;
  margin-left: -50px;
}

#circle2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #EEAB05;
  margin-top: -80px;
  margin-left: 50px;
}

#idcard {
  width: 50px;
  height: 40px;
  margin-top: 20px;
  margin-left: -250px;
  background-color: #C2C2C0;
}
